apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

resources:
  - ../../base

patchesStrategicMerge:
  - patch-deployment.yaml

configMapGenerator:
  - name: staging-config
    literals:
      - ENVIRONMENT=staging
      - LOG_LEVEL=debug
      - METRICS_ENABLED=true

images:
  - name: oguncarpentry-orchestrator
    newTag: staging
  - name: python_services-rag_service
    newTag: staging
  - name: python_services-docling_service
    newTag: staging

commonLabels:
  environment: staging
  version: staging